* {
    padding: 0;
    margin: 0;
}


body {
    background-image: url(https://lumiere-a.akamaihd.net/v1/images/Death-Star-I-copy_36ad2500.jpeg?region=0%2C31%2C1600%2C800);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-tags{
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.button-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 400px;
    height: 100px;
    background-image: linear-gradient(to left, rgb(245, 204, 245), purple);
    border: none;
    border-radius: 2%;
    color: white;
    font-size: 20px;
    text-transform: capitalize;
}


